<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/canvas.css">
		<title>Color in Chrome</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js">
		</script>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/style.css">

	</head>
	<body>
		<header>
			<h1 class="title">Color in Chrome</h1>
		</header>


		<div class="definition box">
			<p> <b>chromesthesia</b> chro·mes·the·sia (krō'měs-thē'zhə)<br>n. <br>A type of synesthesia in which heard sounds automatically and involuntarily evoke an experience of color.	</p>
		</div>
	
	
	 	<!-- <div class="directions column">
			<h1>Order of operations: </h1>
				<p>1. Pick an image to draw</p>
				<p>2. Sample the sound of color with a <br>simple click on a swatch</p>
				<p>3. Click <b>PLAY</b> to hear your song</p>
				<p>4. Click <b>DOWNLOAD</b> to download a copy of your creation!</p>
		</div> -->
	

		{{{body}}}
	

	</body>
	<script type="text/javascript"src="/javascripts/canvas.js"></script>

</html>