<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/canvas.css">
		<title>Color in Chrome</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
				 <!-- <script type="text/javascript"src="/javascripts/canvas.js"></script> -->

	</head>
	<body>
		{{{body}}}
	</body>
	<script type="text/javascript"src="/javascripts/canvas.js"></script>
</html>