<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/canvas.css">
		<title>Color in Chrome</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js">
		</script>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div id="flex-box">
			<header>
				<h1 class="title">Color in Chrome</h1>
			</header>
			<div class="definition">
				<p> <b>chromesthesia</b> chro·mes·the·sia (krō'měs-thē'zhə)<br>n. <br>A type of synesthesia in which heard sounds automatically and involuntarily evoke an experience of color.	</p>
			</div>
			{{{body}}}
			<footer>
				<p>not supported by Android or iOS</p>
			</footer>
		</div>
	</body>
	<script type="text/javascript"src="/javascripts/canvas.js"></script>
</html>