<h1 style="text-align: center; clear: left">
	Check out everyone's creations!
</h1>

{{#each drawings}}
	<div class="single box">
		<a href="/drawings/{{id}}">
			<!-- what kind of element would go here? -->
			<!-- <img src="{{img_url}}" width="500" height="375"> -->
		</a>
	</div>
{{/each}}

<div class="nav">
	<a href="/drawings/new">
		Color some more! 
	</a>
</div>