<canvas id="coloringBook" width="500" height="375"></canvas>

<div>
	<div class="crayon" id="color1">A Flat</div>
	<div class="crayon" id="color2">A</div>
	<div class="crayon" id="color3">B Flat</div>
	<div class="crayon" id="color4">B</div>
	<div class="crayon" id="color5">C</div>
	<div class="crayon" id="color6">C Sharp</div>
	<div class="crayon" id="color7">D</div>
	<div class="crayon" id="color8">E Flat</div>
	<div class="crayon" id="color9">E</div>
	<div class="crayon" id="color10">F</div>
	<div class="crayon" id="color11">F Sharp</div>
	<div class="crayon" id="color12">G</div>
	<div class="crayon" id="color13">lower C</div>
	<div class="crayon" id="color14">lower E</div>
	<div class="crayon" id="color15">lower G</div>
	<div class="crayon" id="color16">upper C</div>
</div>


<button id="eraseCanvas" type="button">Clear</button>
<input type="submit" class="play" id="play" value="play">
<div class="play-button"></div>

<audio src="/audio/aFlatNote.mp3" preload="metadata" id="aFlat"></audio>
<audio src="/audio/aNote.mp3" preload="metadata" id="aNote"></audio>
<audio src="/audio/bFlatNote.mp3" preload="metadata" id="bFlat"></audio>
<audio src="/audio/bNote.mp3" preload="metadata" id="bNote"></audio>
<audio src="/audio/cNote.mp3" preload="metadata" id="cNote"></audio>
<audio src="/audio/cSharpNote.mp3" preload="metadata" id="cSharp"></audio>
<audio src="/audio/dNote.mp3" preload="metadata" id="dNote"></audio>
<audio src="/audio/eFlatNote.mp3" preload="metadata" id="eFlat"></audio>
<audio src="/audio/eNote.mp3" preload="metadata" id="eNote"></audio>
<audio src="/audio/fNote.mp3" preload="metadata" id="fNote"></audio>
<audio src="/audio/fSharpNote.mp3" preload="metadata" id="fSharp"></audio>
<audio src="/audio/gNote.mp3" preload="metadata" id="gNote"></audio>
<audio src="/audio/lowerCNote.mp3" preload="metadata" id="lowerC"></audio>
<audio src="/audio/lowerENote.mp3" preload="metadata" id="lowerE"></audio>
<audio src="/audio/lowerGNote.mp3" preload="metadata" id="lowerG"></audio>
<audio src="/audio/upperCNote.mp3" preload="metadata" id="upperC"></audio>

<!-- <a href="download image" style="text-decoration: underline;" class="save">
	<p>download</p>
</a> -->