<input type="submit" class="crayon" id="color1" value="color1">
<input type="submit" class="crayon" id="color2" value="color2">
<input type="submit" class="crayon" id="color3" value="color3">
<input type="submit" class="crayon" id="color4" value="color4">
<input type="submit" class="crayon" id="color5" value="color5">
<input type="submit" class="crayon" id="color6" value="color6">
<input type="submit" class="crayon" id="color7" value="color7">
<input type="submit" class="crayon" id="color8" value="color8">
<input type="submit" class="crayon" id="color9" value="color9">
<input type="submit" class="crayon" id="color10" value="color10">
<input type="submit" class="crayon" id="color11" value="color11">
<input type="submit" class="crayon" id="color12" value="color12">
<input type="submit" class="crayon" id="color13" value="color13">
<input type="submit" class="crayon" id="color14" value="color14">
<input type="submit" class="crayon" id="color15" value="color15">
<input type="submit" class="crayon" id="color16" value="color16">

<canvas id="coloringBook" width="500" height="375"></canvas>
<button id="eraseCanvas" type="button">Clear</button>
<input type="submit" class="play" id="play" value="play">
<input type="submit" class="save" value="save">

<audio src="/audio/aFlatNote.mp3" preload="metadata" id="aFlat"></audio>
<audio src="/audio/aNote.mp3" preload="metadata" id="aNote"></audio>
<audio src="/audio/bFlatNote.mp3" preload="metadata" id="bFlat"></audio>
<audio src="/audio/bNote.mp3" preload="metadata" id="bNote"></audio>
<audio src="/audio/cNote.mp3" preload="metadata" id="cNote"></audio>
<audio src="/audio/cSharpNote.mp3" preload="metadata" id="cSharp"></audio>
<audio src="/audio/dNote.mp3" preload="metadata" id="dNote"></audio>
<audio src="/audio/eFlatNote.mp3" preload="metadata" id="eFlat"></audio>
<audio src="/audio/eNote.mp3" preload="metadata" id="eNote"></audio>
<audio src="/audio/fNote.mp3" preload="metadata" id="fNote"></audio>
<audio src="/audio/fSharpNote.mp3" preload="metadata" id="fSharp"></audio>
<audio src="/audio/gNote.mp3" preload="metadata" id="gNote"></audio>
<audio src="/audio/lowerCNote.mp3" preload="metadata" id="lowerC"></audio>
<audio src="/audio/lowerENote.mp3" preload="metadata" id="lowerE"></audio>
<audio src="/audio/lowerGNote.mp3" preload="metadata" id="lowerG"></audio>
<audio src="/audio/upperCNote.mp3" preload="metadata" id="upperC"></audio>

<a href="download image" style="text-decoration: underline;" class="image_download"> <strong>download image</strong></a>
