<canvas class="container" id="coloringBook" width="500" height="375"></canvas>

<div class="container" id="crayon">
	<div id="color1"><p>A Flat</p></div>
	<div id="color2"><p>A</p></div>
	<div id="color3"><p>B Flat</p></div>
	<div id="color4"><p>B</p></div>
	<div id="color5"><p>C</p></div>
	<div id="color6"><p>C Sharp</p></div>
	<div id="color7"><p>D</p></div>
	<div id="color8"><p>E Flat</p></div>
	<div id="color9"><p>E</p></div>
	<div id="color10"><p>F</p></div>
	<div id="color11"><p>F Sharp</p></div>
	<div id="color12"><p>G</p></div>
	<div id="color13"><p>lower C</p></div>
	<div id="color14"><p>lower E</p></div>
	<div id="color15"><p>lower G</p></div>
	<div id="color16"><p>upper C</p></div>
</div>

<div class="container button">
	<div>play</div>
	<div>
		<p>reset</p>
	</div>
</div>
<audio src="/audio/aFlatNote.mp3" preload="metadata" id="aFlat"></audio>
<audio src="/audio/aNote.mp3" preload="metadata" id="aNote"></audio>
<audio src="/audio/bFlatNote.mp3" preload="metadata" id="bFlat"></audio>
<audio src="/audio/bNote.mp3" preload="metadata" id="bNote"></audio>
<audio src="/audio/cNote.mp3" preload="metadata" id="cNote"></audio>
<audio src="/audio/cSharpNote.mp3" preload="metadata" id="cSharp"></audio>
<audio src="/audio/dNote.mp3" preload="metadata" id="dNote"></audio>
<audio src="/audio/eFlatNote.mp3" preload="metadata" id="eFlat"></audio>
<audio src="/audio/eNote.mp3" preload="metadata" id="eNote"></audio>
<audio src="/audio/fNote.mp3" preload="metadata" id="fNote"></audio>
<audio src="/audio/fSharpNote.mp3" preload="metadata" id="fSharp"></audio>
<audio src="/audio/gNote.mp3" preload="metadata" id="gNote"></audio>
<audio src="/audio/lowerCNote.mp3" preload="metadata" id="lowerC"></audio>
<audio src="/audio/lowerENote.mp3" preload="metadata" id="lowerE"></audio>
<audio src="/audio/lowerGNote.mp3" preload="metadata" id="lowerG"></audio>
<audio src="/audio/upperCNote.mp3" preload="metadata" id="upperC"></audio>
