<!-- <div id="canvasDiv"></div>
 -->
<canvas id="coloringBook" width="600" height="400"></canvas>
<button id="eraseCanvas" type="button">Clear</button>
<input type="submit" class="crayon" id="blue" value="blue">
<!-- <input type="submit" class="crayon" id="red" value="red">
<input type="submit" class="crayon" id="rawSienna" value="raw sienna">
<input type="submit" class="crayon" id="orange" value="orange"> -->

<audio src="/audio/Cmajor_flutterwave.mp3" preload="metadata" id="cMajor"></audio>

<audio src="/audio/Fmajor_flutterwave.mp3" preload="metadata" id="fMajor"></audio>

<audio src="/audio/Fmajor_flutterwave.mp3" preload="metadata" id="fSharpMajor"></audio>