#coloringBook {
	position: absolute;
	display: block; 
	border: 2px solid #1F2B52;
	height: 375px;
	width: 500px;
	margin: auto;
	top: 174px;
	left: 0;
	bottom: 0;
	right: 0;
}

.crayon {
	position: relative;
	color: #000;
	border-radius: 1px;
	height: 51px;
	width: 51px;
	cursor: pointer;
	margin: 60px 42px;
}

/*////////////////////////////////////////////////////////////////////*/
/*//////////////////////  COLORS  ////////////////////////////////*/

#color1 {
	position: absolute;
	text-align: center;
	background-color: #FFFB40;
	bottom: 405px;
	right: 10px;
}

#color2 {
	position: absolute;
	text-align: center;
	background-color: #744FE8;
	bottom: 350px;
	right: 10px;
}

#color3 {
	position: absolute;
	text-align: center;
	background-color: #FF4CAD;
	bottom: 295px;
	right: 10px;
}

#color4 {
	position: absolute;
	text-align: center;
	background-color: #E82B2D;
	bottom: 240px;
	right: 10px;
}

#color5 {
	position: absolute;
	text-align: center;
	background-color: #FFCFB4; 
	bottom: 185px;
	right: 10px;
}
#color6 {
	position: absolute;
	text-align: center;
	background-color: #966643; 
	bottom: 130px;
	right: 10px;
}

#color7 {
	position: absolute;
	text-align: center;
	background-color: #999999; 
	bottom: 75px;
	right: 10px;
}

#color8 {
	position: absolute;
	text-align: center;
	background-color: #E8A22B;
	bottom: 20px;
	right: 10px;
}

#color9 {
	position: absolute;
	text-align: center;
	background-color: #FF806E; 
	bottom: 20px;
	right: 66px;
}

#color10 {
	position: absolute;
	text-align: center;
	background-color: #323AE8;
	bottom: 75px;
	right: 66px;
}

#color11 {
	position: absolute;
	text-align: center;
	background-color: #89FF9B; 
	bottom: 130px;
	right: 66px;
}

#color12 {
	position: absolute;
	text-align: center;
	background-color: #892F9B; 
	bottom: 185px;
	right: 66px;
}

#color13 {
	position: absolute;
	text-align: center;
	background-color: #C384B1; 
	bottom: 240px;
	right: 66px;
}

#color14 {
	position: absolute;
	text-align: center;
	background-color: #FB7FFF; 
	bottom: 295px;
	right: 66px;
}

#color15 {
	position: absolute;
	text-align: center;
	background-color: #34A76C; 
	bottom: 350px;
	right: 66px;
}

#color16 {
	position: absolute;
	text-align: center;
	background-color: #CD4A4C; 
	bottom: 405px;
	right: 66px;
}

/*////////////////////////////////////////////////////////////////////*/
/*//////////////////////  BUTTONS  ////////////////////////////////*/

.play-button {
	position: relative;
	height: 30px;
	width: 45px;
	background-color: rgb(210, 213, 217);
	border-radius: 5px;
	margin-left: 80px;
}

.play-button:hover {
    background-color: rgb(255, 0, 0);
}

.play-button:after {
    content: ""; /* content property is used with the :before and :after pseudo-elements, to insert generated content */
    display: inline-block;
    position: relative;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px; /* creates the triangle */
    border-color: transparent transparent transparent rgba(72, 73, 74, 1);
	top: 5px;
	left: 17px;
}

a {
    display: inline-block;
	position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    background-color: rgb(210, 213, 217);
    height: 30px;
    width: 67px;
    color: #48494A;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
	background-color: rgb(255, 0, 0);
}

/* download text/p tag */

.download {	
  position: relative;
  bottom: 5px;
  left: 1px;
}

/* //////////// CLEAR CANVAS //////////// */
.reset {
	position: relative;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	width: 45px;
	background: rgb(210, 213, 217);
	color: rgb(72, 73, 74);
	border-radius: 5px;
	margin-left: 137px
}

.reset:hover {
	background-color: rgb(255, 0, 0);
}

.reset p {
	position: relative;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	bottom: 5px;
	left: 5px;
}

/* //////////// ALL BUTTONS //////////// */
.button {
	position: fixed;
	bottom: 4%;
	left: 41%;
}
