/*canvas, img { 
	display:block; 
	margin: 1em auto; 
	border: 1px solid black; 
}*/

canvas {
	position: absolute;
	border: 2px solid #1F2B52;
	margin: 100px auto 0px 5px;
	background-color: #FFF;
	bottom: 0px;
	background:url(betty_boop.png); 
}

#eraseCanvas {
	position: absolute;
	top: 218px;
	right: 484px;

}

img {
	border: 1px black;
	position: absolute;
	bottom: 5px;
	left: 182px;
	height: 350px;
	display: inline;
}

.crayon {
	position: absolute;
	font-weight: bold;
	position: absolute;
	color: #000;
	background-color: #FFFB40;
	border-radius: 10px;
	height: 20px;
	width: 51px;
	text-align: center;
}


.save {
	position: relative;
	top: 14px;
	left: 114px;
}

img {
	border: 1px black;
	position: absolute;
	top: 105px;
	left: 182px;
	height: 350px;
	display: inline;
}
/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/*//////////////////////  COLORS  ////////////////////////////////*/

#color1 {
	background-color: #FFFB40;
	top: 256px;
	left: 538px;
	text-align: center;
}

#color2 {
	background-color: #744FE8;
	top: 219px;
	left: 578px;
}

#color3 {
	background-color: #FF4CAD;
	top: 182px;
	left: 618px;
}

#color4 {
	background-color: #E82B2D;
	top: 145px;
	left: 658px;
}

#color5 {
	background-color: #FFCFB4; 
	top: 145px;
	right: 436px;
}
#color6 {
	background-color: #966643; 
	top: 182px;
	right: 396px;
}

#color7 {
	background-color: #999999; 
	top: 219px;
	right: 356px;
}

#color8 {
	background-color: #E8A22B; 
	top: 256px;
	right: 316px;
}

#color9 {
	background-color: #FF806E; 
	top: 156px;
	right: 313px;
}

#color10 {
	background-color: #323AE8; 
	top: 338px;
	right: 466px;
}

#color11 {
	background-color: #89FF9B; 
	top: 201px;
	right: 326px;
}

#color12 {
	background-color: #892F9B; 
	top: 241px;
	right: 317px;
}

#color13 {
	background-color: #C384B1; 
	top: 240px;
	right: 414px;
}

#color14 {
	background-color: #FB7FFF; 
	top: 118px;
	right: 347px;
}

#color15 {
	background-color: #34A76C; 
	top: 283px;
	right: 497px;
}

#color16 {
	background-color: #CD4A4C; 
	top: 110px;
	right: 424px;
}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/*//////////////////////  NOTES/SOUNDS  ////////////////////////////////*/

#play {
	position: absolute;
	top: 293px;
	right: 400px;

}
