html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  overflow-y: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  z-index: -1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 108px;
  height: 100px;
  margin: 0px 0px 0px 0px;
}

.title {
  position: fixed;
  height: 100px;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: rgba(31, 43, 82, 0.5);
  color: #36CCB2;
  font-size: 500%;
  font-weight: 400;
  margin: 0px auto 0px auto;
  z-index: 1; 
 }

.definition {
  position: absolute;
  display: block;
  padding: 0px;
  height: 204px;
  width: 300px;
  right: 5px;
  margin: 5px 5px;
  float: right;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  border: 3px outset #1F2B52;
  background-color: rgba(255, 95, 101, 0.7);
}

.directions {
  position: absolute;
  padding: 0px;
  display: block;
  height: 317px;
  width: 300px;
  border: 3px outset #1F2B52;
  background-color: #DADDE0;
  margin: 0px 5px;
  /*top: 218px;*/
  bottom: 10px;
  right: 5px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  float: right;
}

.directions p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.reset {
  position: ;
}
