html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 108px;
  height: 100px;
  margin: 0px 0px 0px 0px;
}

.title {
  position: fixed;
  height: 100px;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: rgb(210, 213, 217);
  color: #48494A;
  font-size: 500%;
  font-weight: 400;
  margin: 0px auto 0px auto;
  z-index: 1; 
 }

.definition {
  display: block;
  height: 204px;
  width: 426px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

.definition p {
  position: relative;
  top: 24px;
}
