body { margin: 0px;
font-family: "Ubuntu", sans-serif; }

body > div:nth-child(1) > header, footer, .container {
  background: #CCC;
  border-radius: 7px;
  margin: 5px;
  padding: 20px;
}

body > div:nth-child(1) > header {
  order: 1; height: 30px; flex: 0 1 100%;
}

h1 { margin: 0px; }

body > div:nth-child(1) > #definition { 
    order: 2; flex: 0 1 50px;
    width: 285px; margin: auto;
 }

body > div:nth-child(1) > #coloringBook { 
    order: 3;
    border: 2px dotted #1F2B52;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body > div:nth-child(1) > #crayon { order: 4; flex: 0 1 200px; }

body > div:nth-child(1) > .container .button { order: 5; height: 20px; }

body > div:nth-child(1) > footer { order: 5; height: 5px; flex: 0 1 100%;}

footer p { 
  margin-left: 0px;
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
 }

.button {
  background-color: rgb(255, 0, 0);
  height: 30px;
  width: 45px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

#button {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}